body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.colorBtn {
  padding: 0.25rem 0.5rem;
  border: 3px solid white;
  border-radius: 7px;
  background-color: #4bed32;
  color:#fefefefe;
  font-size: 1.5rem;
  font-family: verdana, serif, arial, georgia, courier;
  cursor: pointer;
  outline: none;
}


.colorBtn:hover {
  background: purple;
}
